<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
	<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
	<%= f.file_field :book_img %>
	<%= f.input :title, label: 'Book title' %>
	<%= f.input :author %>
	<%= f.input :description %>
	<%= f.button :submit, class: "btn-custom2" %>
<% end %>
